.btn {
  margin: 5px;
  border-radius: 15px;
  border: none;
  height: 2rem;
  width: 10rem;
}

.btn:hover {
  background-color: white;
  color: black;
}

.btn-location {
  margin: auto;
}

.city-results {
  background-color: rgb(121, 37, 4);
  border: solid black 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.city-results:hover {
  background-color: rgba(32, 183, 125, 0.661);
  cursor: pointer;
}
