.weather-component {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.btn {
  margin: 5px;
  border-radius: 15px;
  border: none;
  height: 1.8rem;
  width: 10rem;
  background-color: green;
  box-shadow: 10px -2px 20px 2px rgba(0, 0, 0, 0.3);
}

.btn:hover {
  background-color: white;
  color: black;
}

.btn-location {
  margin: auto;
}

.location-input {
  text-align: center;
  display: flex;
  flex-direction: row;

  gap: 10px;
}

.city-input {
  height: 1.8rem;
  width: 100%;
  margin: 20px auto;
  text-align: center;
}

.city-container {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}

.city-results {
  background-color: rgb(225, 82, 82);
  border: solid rgb(199, 142, 142) 10px;
  min-width: 400px;
  border-radius: 15px;
  margin: 5px auto;
  box-shadow: 10px -2px 20px 2px rgba(0, 0, 0, 0.3);
}

.city-results:hover {
  border-color: rgb(139, 182, 139);
}

.city-details {
  text-align: center;
  font-size: 0.8rem;
}

.city-results:hover {
  background-color: rgba(32, 183, 125, 0.661);
  cursor: pointer;
}

.region {
  text-align: center;
}
