.window-answer-no {
  text-align: center;
  background-color: green;
  padding: 50px;
  border-radius: 90px;
}

.window-answer-yes {
  text-align: center;
  background-color: red;
  padding: 50px;
  border-radius: 90px;
}
