.container {
  max-width: 1080px;
  margin: auto;
  background-color: rgb(26, 85, 137);
}

.weather-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
